<ion-list>
  <ion-item button (click)="onSelection('ShowOffer')" lines="full">
    <ion-label class="ion-text-center ion-text-nowrap">
      {{ 'chef.offer.list.showOffer' | translate }}
    </ion-label>
  </ion-item>
  <ion-item button (click)="onSelection('ViewOrders')" lines="full">
    <ion-label class="ion-text-center ion-text-nowrap">
      {{ 'chef.offer.list.viewOrders' | translate }}
    </ion-label>
  </ion-item>
  <ion-item button (click)="onSelection('EditOffer')" lines="full">
    <ion-label class="ion-text-center ion-text-nowrap">
      {{ 'chef.offer.list.editOffer' | translate }}
    </ion-label>
  </ion-item>
  <ion-item button (click)="onSelection('CancelOffer')" lines="full">
    <ion-label class="ion-text-center ion-text-nowrap">
      {{ 'chef.offer.list.cancelOffer' | translate }}
    </ion-label>
  </ion-item>
</ion-list>
