<ion-header class="header-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/public/home" icon="chevron-back-circle-outline">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="transparent">
  <ion-grid>
    <ion-row class="ion-align-items-center ion-justify-content-center ion-margin-vertical">
      <ion-label color="secondary" class="ion-padding-horizontal-10 font-title">{{ 'auth.passwordResetConfirm.emailSent' | translate }}</ion-label>
    </ion-row>
    <ion-row class="ion-align-items-center ion-justify-content-center ion-margin-vertical">
      <ion-text class="ion-padding-horizontal-10 font-sub-title ion-text-center">{{ 'auth.passwordResetConfirm.pleaseCheckYourInbox' | translate }}</ion-text>
    </ion-row>
    <ion-row class="ion-align-items-center ion-justify-content-center ion-margin-vertical">
      <ion-col size="9">
        <ion-img src="../../assets/images/email-sent.png" style="height:150px;"></ion-img>  
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center ion-justify-content-center ion-margin-vertical">
      <ion-col>
        <div class="flex-container align-items-center justify-content-center">
          <ion-label class="mr-10 auth-label-light">{{ 'auth.passwordResetConfirm.didNotReceiveCode' | translate }}</ion-label>
          <a class="auth-label-small-link" (click)="onResendForgotPasswordEmail()">{{ 'global.label.resend' | translate }}</a>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center ion-justify-content-center ion-padding-horizontal-5 ion-padding-vertical">
      <div class="code-input-section">
        <code-input
          [codeLength]="6"
          (codeChanged)="onCodeChanged($event)"
          (codeCompleted)="onCodeCompleted($event)">
        </code-input>
      </div>
    </ion-row>
    <ion-row class="ion-align-items-center ion-justify-content-center">
      <ion-col size="9">
        <ion-button class="auth-submit-btn" expand="block" (click)="onConfirmPasswordReset()">{{ 'global.button.confirm' | translate }}</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<div class="background-gradient-wrapper"></div>