<ion-header class="header-no-border">
  <ion-toolbar class="position-relative" color="primary"> 
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/public/home" icon="chevron-back-circle-outline">
      </ion-back-button>
    </ion-buttons>
    <div class="title-section">
      <ion-title color="secondary ion-text-center">{{ 'account.paymentMethods.title' | translate }}</ion-title>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="overflow-y-auto transparent">
  <div class="page-wrapper">
    <ion-grid>
    </ion-grid>
  </div>
</ion-content>
