.br-halal {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 0 !important;
  .br-units {
    align-items: center;
  }
  .br-unit {
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../../assets/images/star.svg");

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-left: 2px;
    width: 14px;
    height: 14px;
    filter: grayscale(1);

    &:first-child {
      margin-left: 0;
    }
  }
  .br-selected, .br-active {
    filter: grayscale(0);
  }
  .br-text {
    margin-left: 10px;
  }
}
  
  