<ion-header class="header-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/public/home" icon="chevron-back-circle-outline">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="transparent">
  <form [formGroup]="passwordResetForm" (submit)="onSendPasswordResetEmail()">
    <ion-grid>
      <ion-row class="ion-align-items-center ion-justify-content-center ion-margin-vertical">
        <ion-label color="secondary" class="ion-padding-horizontal-10 font-title">{{ 'auth.passwordReset.forgotYourPassword' | translate }}</ion-label>
      </ion-row>
      <ion-row class="ion-align-items-center ion-justify-content-center ion-margin-vertical">
        <ion-text class="ion-padding-horizontal-10 font-sub-title ion-text-center">{{ 'auth.passwordReset.enterRegisteredEmail' | translate }}</ion-text>
      </ion-row>
      <ion-row class="ion-align-items-center ion-justify-content-center ion-margin-vertical">
        <ion-col size="9">
          <ion-img src="../../assets/images/email-send.png" style="height:150px;"></ion-img>  
        </ion-col>
      </ion-row>
      <ion-row class="ion-align-items-center ion-justify-content-start ion-padding-horizontal-5 ion-padding-vertical">
        <ion-input class="light-brown-input" placeholder="Email" formControlName="email"></ion-input>
        <div class="w-100"></div>
        <div class="ion-padding-horizontal-10 validation-errors">
          <ng-container *ngFor="let validation of validation_messages.email">
            <div class="error-message" *ngIf="email.hasError(validation.type) && (email.dirty || email.touched)">
              {{ validation.message | translate }}
            </div>
          </ng-container>
        </div>
      </ion-row>
      <ion-row class="ion-align-items-center ion-justify-content-center ion-margin-vertical">
        <ion-col>
          <div class="flex-container align-items-center justify-content-center">
            <ion-label class="mr-10 auth-label-light">{{ 'auth.passwordReset.rememberPassword' | translate }}</ion-label>
            <a class="auth-label-small-link" routerLink="/auth/login">{{ 'global.label.login' | translate }}</a>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-align-items-center ion-justify-content-center">
        <ion-col size="9">
          <ion-button class="auth-submit-btn" expand="block" (click)="onSendPasswordResetEmail()">{{ 'global.button.send' | translate }}</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>

<div class="background-gradient-wrapper"></div>