:host {
  background: white;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ion-list.order-list {
  width: 100%;
  padding: 15px 10px 15px 10px;
}

ion-item.order-item {
  position: relative;
  --color: black;
  --padding-top: 0px !important;
  --padding-bottom: 0px !important;
  --inner-padding-top: 0px !important;
  --inner-padding-bottom: 0px !important;
  --detail-icon-color: var(--ion-color-primary);
  --detail-icon-font-size: 2.8rem;
  border-radius: 60px;
  box-shadow: 1px 1px 2px 1px #00000033;
  margin: 0 0 20px 0 !important;
  ion-avatar{
    width: 80px !important;
    height: 80px !important;
    margin: 10px 0 !important;
    img.order-item-avatar {
      width: 80px !important;
      height: 80px !important;
    }
  }
  div.order-info {
    width: 100%;
    height: 100%;
    // padding: 15px 0 10px 0 !important;
    div.order-header {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      div.order-title {
        font-size: 1.6rem;
        color: black;
      }
    }
    div.order-body {
      font-size: 1.6rem;
      color: #636363;
    }
  }
}

ion-badge.order-info-badge {
  --background: #FEC900;
  --color: #636363;
  --padding-start: 10px;
  --padding-end: 10px;
  border-radius: 10px
}

ion-icon.order-info-icon {
  width: 20px;
  height: 20px;
}

ion-button.order-item-edit-btn {
  --background: transparent !important;
  --box-shadow: none !important;
  --border-radius: 50%;
  --padding-start: 0;
  --padding-end: 0;
  --ripple-color: var(--ion-color-primary);
  border: none !important;
  ion-icon.order-item-edit-icon {
    color: black !important;
  }
}
