<ion-header class="header-no-border">
    <ion-toolbar class="position-relative" color="primary"> 
      <ion-buttons slot="start">
        <ion-back-button text="" defaultHref="/public/chef/dashboard" icon="chevron-back-circle-outline">
        </ion-back-button>
      </ion-buttons>
      <div class="title-section">
        <div class="flex-container flex-direction-col title-wrapper">
          <div color="secondary" class="chat-title">{{ chatTitle }}</div>
          <div color="secondary" class="chat-subtitle">{{ chatSubtitle }}</div>
        </div>
      </div>
      <ion-buttons slot="end" class="right-btn-group">
        <ion-button id="settingBtn" #settingBtn (click)="onClickSettingButton($event)" class="setting-button">
          <ion-icon src="../../assets/images/more.svg" class="setting-btn-icon" color="secondary"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content [fullscreen]="true" class="overflow-y-auto transparent">
    <div class="page-wrapper">
      <div class="message-wrapper">
        <div class="message-body float-right" [innerHTML]="message_other">
        </div>
        <div class="message-time">
          15:30 Feb 15, 2021
        </div>
      </div>
      <div class="message-wrapper me">
        <div class="message-body float-left" [innerHTML]="message_me">
        </div>
        <div class="message-time">
          15:30 Feb 15, 2021
        </div>
      </div>
    </div>
  </ion-content>
  <ion-footer translucent>
    <div class="flex-container flex-direction-row align-items-center p-5">
      <ion-item class="chat-input-item" lines="none">
        <ion-input class="chat-input-box" type="text" placeholder="Type in your message">
        </ion-input>
      </ion-item>
      <ion-img src="assets/images/chat/chat-send-icon.png" class="chat-send-img ml-10 mr-10"></ion-img>
      <ion-img src="assets/images/chat/chat-camera-icon.png" class="chat-camera-img ml-10 mr-10"></ion-img>
    </div>
  </ion-footer>
  