:host {
  background: white;
}

ion-toolbar {
  --border-width: 0 !important;
  ion-icon {
    font-size: 3rem;
  }
  div.title-section {
    position: absolute; 
    top: 0; 
    left: 48px;
    right: 48px;
    height: 100%;
    width: calc(100% - 96px);
    display: flex;
    align-items: center;
    justify-content: center;
    ion-title {
      font-size: 2.2rem;
      font-weight: 400;
      width: 100%;
      padding-inline-start: unset !important;
      padding-inline-end: unset !important;
    }
  }
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 20px;

  div.description {
    font-size: 1.6rem;
  }

  ion-grid.packaging-code-wrapper {
    width: 80%;
    padding: 15px;
    border-radius: 2.4rem;
    box-shadow: 0px 2px 4px #0000004D;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;

    .price-tag-icon {
      font-size: 3rem;
      font-weight: 600;
    }
    .copy-icon {

    }
    ion-button {
      --border-radius: 24px;
      width: 80%;
      ion-label {
        font-size: 2rem;
      }
    }
  }
}
