<ion-header class="header-no-border">
  <ion-toolbar class="position-relative" color="primary"> 
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/public/chef/dashboard" icon="chevron-back-circle-outline">
      </ion-back-button>
    </ion-buttons>
    <div class="title-section">
      <ion-title color="secondary ion-text-center">{{ 'chef.packaging.title' | translate }}</ion-title>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="overflow-y-auto transparent">
  <div class="page-wrapper">
    <div class="description mb-20">
      {{ 'chef.packaging.description1' | translate }} <a href="https://www.emballage-repas.fr" class="text-underline primary-color">www.emballage-repas.fr</a>
    </div>
    <div class="description mb-30">
      {{ 'chef.packaging.description2' | translate }}
    </div>
    <ion-grid class="packaging-code-wrapper imb-50">
      <div class="primary-color font-weight-heavy">
        <ion-icon src="assets/images/price-tag.svg" class="price-tag-icon"></ion-icon>
        20% {{ 'global.label.off' | translate }}
      </div>
      <div class="m-10 font-weight-heavy">
        XXXXXX
      </div>
      <ion-button>
        <ion-label class="text-transform-none">{{ 'chef.packaging.copyCode' | translate }}</ion-label>
        <ion-icon src="assets/images/copy.svg" slot="end" class="copy-icon"></ion-icon>
      </ion-button>
    </ion-grid>
  </div>
</ion-content>
