<ion-header class="header-no-border">
  <ion-toolbar class="position-relative"> 
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/public/home" icon="arrow-back-outline">
      </ion-back-button>
    </ion-buttons>
    <div class="title-section">
      <ion-title class="ion-text-center">{{ 'phone.verification.title' | translate }}</ion-title>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="page-wrapper">
    <div class="phone-verification-slide">
      <div class="image-section">
        <ion-img src="../../assets/images/smartphone.png" class="phone-image"></ion-img>
      </div>
      <div class="description-section font-sanspro description m-15 ion-text-wrap ion-text-center">
        {{ 'phone.verification.enterPhoneNumber' | translate }}
      </div>
      <form [formGroup]="phoneVerficationForm">
        <ion-grid class="phone-verification-grid m-10">
          <ion-row class="ion-align-items-center ion-justify-content-center ion-margin-top">
            <ion-col size="12">
              <ion-item class="phone-number-item" lines="none">
                <ion-intl-tel-input 
                  [preferredCountries]="preferredCountries"
                  formControlName="phoneNumber">
                </ion-intl-tel-input>
                <ion-icon [@fadeAnimation] *ngIf="phoneNumber.valid && (phoneNumber.dirty || phoneNumber.touched)" slot="end" src="../../assets/images/checked.svg"></ion-icon>
              </ion-item>
              <div class="w-100"></div>
              <div class="ion-padding-horizontal-10 validation-errors">
                <ng-container *ngFor="let validation of validation_messages.phoneNumber">
                  <div class="error-message" *ngIf="phoneNumber.hasError(validation.type) && (phoneNumber.dirty || phoneNumber.touched)">
                    {{ validation.message | translate }}
                  </div>
                </ng-container>
              </div>
            </ion-col>
          </ion-row>
          <ion-row class="ion-align-items-center ion-justify-content-center ion-margin-top">
            <ion-col size="12">
              <ion-button (click)="onClickEnterPhoneNumberContinue()" class="item-continue-btn ion-no-margin" expand="block">
                {{ 'global.button.continue' | translate }}
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </div>
  </div>
</ion-content>
