<ion-content (click)="onTap()">
  <ion-img class="background" src = "../../../assets/images/background logo light half left.png"></ion-img>
  <ion-img src="../../../assets/images/chef1.png"></ion-img>
  <div class="large p-10">Ouups an error has accured</div>
  <ion-img src="../../../assets/images/checked2.png" class="mt-10"></ion-img>
  <div class="small ion-padding-horizontal-20">We weren't able to process the payment. Please double check your selected payment method and try again.</div>
</ion-content>
