<ion-header class="header-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/public/home" icon="chevron-back-circle-outline">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="transparent">
  <form [formGroup]="passwordResetConfirmForm" (submit)="onClickNext()">
    <ion-grid>
      <ion-row class="ion-align-items-center ion-justify-content-center ion-margin-vertical">
        <ion-label color="secondary" class="ion-padding-horizontal-10 font-title">{{ 'auth.passwordUpdate.passwordReset'}}</ion-label>
      </ion-row>
      <ion-row class="ion-align-items-center ion-justify-content-center ion-margin-vertical">
        <ion-text class="ion-padding-horizontal-10 font-sub-title ion-text-center">{{ 'auth.passwordUpdate.setupNewPassword'}}</ion-text>
      </ion-row>
      <ion-row class="ion-align-items-center ion-justify-content-start ion-padding-horizontal-5 ion-padding-bottom">
        <ion-col>
          <ion-input class="light-brown-input" placeholder="New password" formControlName="newPassword"></ion-input>
          <div class="w-100"></div>
          <div class="ion-padding-horizontal-10 validation-errors">
            <ng-container *ngFor="let validation of validation_messages.newPassword">
              <div class="error-message" *ngIf="newPassword.hasError(validation.type) && (newPassword.dirty || newPassword.touched)">
                {{ validation.message | translate }}
              </div>
            </ng-container>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-align-items-center ion-justify-content-start ion-padding-horizontal-5 ion-padding-bottom">
        <ion-col>
          <ion-input class="light-brown-input" placeholder="Retype the password" formControlName="newPasswordConfirm"></ion-input>
          <div class="w-100"></div>
          <div class="ion-padding-horizontal-10 validation-errors">
            <ng-container *ngFor="let validation of validation_messages.newPasswordConfirm">
              <div class="error-message" *ngIf="newPasswordConfirm.hasError(validation.type) && (newPasswordConfirm.dirty || newPasswordConfirm.touched)">
                {{ validation.message | translate }}
              </div>
            </ng-container>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-align-items-center ion-justify-content-center ion-margin-bottom">
        <ion-col size="9">
          <ion-button class="auth-submit-btn" expand="block" (click)="onClickNext()">{{ 'global.button.next' | translate }}</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>

<div class="background-gradient-wrapper"></div>