<ion-tabs>
  <ion-tab-bar color="primary" slot="bottom">
    <ion-tab-button tab="start">
      <ion-icon name="filter"></ion-icon>
      <ion-label>{{'Filer' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="/public/home" >
      <ion-icon name="map"></ion-icon>
      <ion-label>{{'Map' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="user/login" >
      <ion-icon name="results"></ion-icon>
      <ion-label>{{'Results' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="user/login">
      <ion-icon name="favourite"></ion-icon>
      <ion-label>{{'Favourite' | translate}}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="contact">
      <ion-icon name="basket"></ion-icon>
      <ion-label>{{'Basket' | translate}}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
