<ion-header class="header-no-border">
  <ion-toolbar class="position-relative" color="primary"> 
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/public/chef/dashboard" icon="chevron-back-circle-outline">
      </ion-back-button>
    </ion-buttons>
    <div class="title-section">
      <ion-title color="secondary ion-text-center">{{ 'chef.inbox.title' | translate }}</ion-title>
    </div>
    <ion-buttons slot="end" class="right-btn-group">
      <ion-button id="settingBtn" #settingBtn (click)="onClickSettingButton($event)" class="setting-button">
        <ion-icon src="../../assets/images/more.svg" class="setting-btn-icon" color="secondary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="overflow-y-auto transparent">
  <div class="page-wrapper position-relative">
    <ion-tabs #tabs (ionTabsWillChange)="tabWillChange($event)">
      <ion-tab-bar slot="top">
        <ion-tab-button tab="notification">
          <ion-label>{{ 'global.label.notifications' | translate }}</ion-label>
          <div *ngIf="currentTab =='notification'" class="tab-decorator"></div>
        </ion-tab-button>
        <ion-tab-button tab="message">
          <ion-label>{{ 'global.label.messages' | translate }}</ion-label>
          <div *ngIf="currentTab =='message'" class="tab-decorator"></div>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </div>
</ion-content>
