<ion-header class="header-no-border">
  <ion-toolbar class="position-relative" color="primary"> 
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/public/home" icon="chevron-back-circle-outline">
      </ion-back-button>
    </ion-buttons>
    <div class="title-section">
      <ion-title color="secondary ion-text-center">{{ 'account.notificationSettings.title' | translate }}</ion-title>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="overflow-y-auto transparent">
  <div class="page-wrapper">
    <ion-list lines="full" class="ion-no-margin">
      <ion-item lines="none" detail="false" class="notification-settings-item">
        <ion-label class="font-poppins" color="primary">{{ 'account.notificationSettings.turnOffAll' | translate }}</ion-label>
        <ion-toggle></ion-toggle>
      </ion-item>
    </ion-list>
    <ion-list lines="full" class="mt-30">
      <ion-list-header>
        <ion-item lines="none" detail="false" class="notification-settings-section-title-item">
          <ion-label>{{ 'account.notificationSettings.importantNotifications' | translate }}</ion-label>
        </ion-item>
      </ion-list-header>
      <ion-item lines="full" detail="false" class="notification-settings-item">
        <ion-label class="font-poppins" color="primary">{{ 'account.notificationSettings.newMessage' | translate }}</ion-label>
        <ion-toggle></ion-toggle>
      </ion-item>
      <ion-item lines="full" detail="false" class="notification-settings-item">
        <ion-label class="font-poppins" color="primary">{{ 'account.notificationSettings.newOrder' | translate }}</ion-label>
        <ion-toggle></ion-toggle>
      </ion-item>
      <ion-item lines="full" detail="false" class="notification-settings-item">
        <ion-label class="font-poppins" color="primary">{{ 'account.notificationSettings.orderUpdate' | translate }}</ion-label>
        <ion-toggle></ion-toggle>
      </ion-item>
      <ion-item lines="full" detail="false" class="notification-settings-item">
        <ion-label class="font-poppins" color="primary">{{ 'account.notificationSettings.newReview' | translate }}</ion-label>
        <ion-toggle></ion-toggle>
      </ion-item>
    </ion-list>
    <ion-list lines="full" class="mt-30">
      <ion-list-header>
        <ion-item lines="none" detail="false" class="notification-settings-section-title-item">
          <ion-label>{{ 'account.notificationSettings.marketingNotification' | translate }}</ion-label>
        </ion-item>
      </ion-list-header>
      <ion-item lines="full" detail="false" class="notification-settings-item">
        <ion-label class="font-poppins" color="primary">{{ 'account.notificationSettings.newFollower' | translate }}</ion-label>
        <ion-toggle></ion-toggle>
      </ion-item>
      <ion-item lines="full" detail="false" class="notification-settings-item">
        <ion-label class="font-poppins" color="primary">{{ 'account.notificationSettings.favouriteChefOffers' | translate }}</ion-label>
        <ion-toggle></ion-toggle>
      </ion-item>
      <ion-item lines="full" detail="false" class="notification-settings-item">
        <ion-label class="font-poppins" color="primary">{{ 'account.notificationSettings.discountActions' | translate }}</ion-label>
        <ion-toggle></ion-toggle>
      </ion-item>
    </ion-list>
    <ion-list lines="full" class="mt-30">
      <ion-list-header>
        <ion-item lines="none" detail="false" class="notification-settings-section-title-item">
          <ion-label>{{ 'account.notificationSettings.customerServiceNotifications' | translate }}</ion-label>
        </ion-item>
      </ion-list-header>
      <ion-item lines="full" detail="false" class="notification-settings-item">
        <ion-label class="font-poppins" color="primary">{{ 'account.notificationSettings.customerService' | translate }}</ion-label>
        <ion-toggle></ion-toggle>
      </ion-item>
    </ion-list>
    <ion-grid class="mt-auto w-100">
      <ion-row class="ion-align-items-center ion-justify-content-center ion-margin-bottom">
        <ion-col size="6">
          <ion-button class="auth-submit-btn" expand="block" (click)="onSave()">{{ 'global.button.save' | translate }}</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
