<ion-header class="header-no-border">
  <ion-toolbar class="position-relative" color="primary"> 
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/public/chef/dashboard" icon="chevron-back-circle-outline">
      </ion-back-button>
    </ion-buttons>
    <div class="title-section">
      <ion-title color="secondary ion-text-center">{{ 'chef.offer.new.title' | translate }}</ion-title>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="overflow-y-auto transparent">
  <div class="page-wrapper">
    <ion-item class="offer-mode-item" button lines="none" (click)="onClickStartFromScratch()">
      <div class="w-100 h-100 flex-container flex-direction-col align-items-center justify-content-center m-10">
        <div class="ion-margin-start offer-mode-label mb-10">{{ 'chef.offer.startFromScratch' | translate }}</div>
        <img src="../assets/images/chef-dashboard/cooking.png">
      </div>
    </ion-item>
    <ion-item class="offer-mode-item" button lines="none" (click)="onClickStartBasedOnExistingOffer()">
      <div class="w-100 h-100 flex-container flex-direction-col align-items-center justify-content-center m-10">
        <div class="ion-margin-start offer-mode-label mb-10">{{ 'chef.offer.startBasedOnExistingOffer' | translate }}</div>
        <img src="../assets/images/serving-dish.png">
      </div>
    </ion-item>
  </div>
</ion-content>
