<ion-grid class="mt-20 p-10">
  <ion-row class="ion-align-items-center ion-justify-content-center ion-no-padding">
    <ion-label class="description">
      Your profile information must be completed before you apply to become a Home-Chef
    </ion-label>
  </ion-row>
  <ion-row class="ion-align-items-center ion-justify-content-center ion-no-padding ion-margin-top">
    <ion-label class="description-route">
      Menu --> My account --> Personal details
    </ion-label>  
  </ion-row>
</ion-grid>